.content {
    height: 90vh;
    overflow-y: auto;
    padding-bottom: 2rem;
    background-color: black;
}

.experience-card {
    padding: 0 1rem 1rem 1rem;
    background-color: transparent;
    color: white;
}

.experience-card-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.experience-list {
    padding-left: 1rem;
    margin: 1rem 0;
}

.experience-list li {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.6;
}

.logo-icon {
    width: 40px;
    height: 30px;
    object-fit: contain;
    padding: 1rem;
}

.overall-section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: black;
    color: #d5d5d5;
    border-radius: 8px;
}

.main-section {
    padding: 2rem;
}

.icon {
    padding: 0 0 0 5px;
}

.link-section {
    display: flex;
    flex-direction: row;    
    cursor: pointer;
    
    .link-item {
        display: flex;
        flex-direction: row;
        padding: 1rem;        
        .link-text {
            padding: 2px 0 0 0;
        }
    }
    .link-item:hover {
        text-decoration: underline;
    }

}