<div class="navbar">
    <mat-toolbar>
        <span class="name-header white-font">{{ pageTitle }}</span>
        <span class="name-header red-font">.</span>
        <span class="spacer"></span>
        @if(!isSmallScreen){
        <button *ngFor="let link of navtab" matButton="filled" class="underline-on-hover"
            matTooltip="{{ link.linkText }}" (click)="navigateToPage(link.url,link.title)">{{ link.linkText
            }}</button>
        }
        @if(isSmallScreen){
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="white-font">menu</mat-icon>
        </button>
        }
    </mat-toolbar>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let link of navtab" (click)="navigateToPage(link.url,link.title)">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{ link.linkText }}</span>
    </button>
</mat-menu>