/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'header-font-winky-rough';
  src: url('./assets/WinkyRough-VariableFont_wght.ttf');
}

.red-font {
  color: #e63946;
}

.gray-font {
  color: #78797c
}