.logo-icon {
    width: 40px;
    height: 30px;
    object-fit: contain;
    padding: 1rem;
}

.example-card {
  max-width: 400px;
  padding: 2rem;
  background-color: #e2e2e2;
}

.project-image {
    // height: 10rem;
    // width: 10rem;
    object-fit: contain;
    padding: 2rem;
}

.project-content {
    padding: 0 2rem 0 2rem;
}

.content {
    height: 90vh;
    overflow-y: auto;
}