<div class="content">
    <div *ngFor="let link of companywiseProjectData">
        <img [src]='link.logo' alt="Logo" class="logo-icon" />
        <div class="project-content">
            <mat-card *ngFor="let project of link.projects" [ngStyle]="{
       'background-image': 'url(' + project.cardBackGround + ')',       
       'color': project.fontColor
     }" class="example-card">
                <mat-card-header>
                    <mat-card-title >{{project.projectName}}</mat-card-title>
                    <mat-card-subtitle [ngStyle]="{'color': project.fontColor}">{{project.period}}</mat-card-subtitle>
                    <mat-card-subtitle [ngStyle]="{'color': project.fontColor}">{{project.techStack}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="project-image" [src]='project.projectImagePath' alt="cgi">
                <mat-card-content>
                    <p >
                        {{project.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>  
        <div class="h-divider">
  <div class="shadow"></div>
  </div>      
    </div>
</div>
<!-- 'background-size': 'cover', -->
       <!-- 'background-position': 'center', -->
       'color': card.color